@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(233, 47%, 7%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.container{
 max-width: 1020px;
 margin: 0 auto;
}
.card{
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;
    margin: 25px;
}
.img-container img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.img-container {
    position: relative;
}
.img-container::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsl(277, 64%, 61%);
    opacity: .6;
}
.text-container{
    padding: 50px;
}
h1{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    padding-bottom: 22px;
}
span{
    color:  hsl(277, 64%, 61%);
}
.subtitle{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8;
}
.price-box{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    
}
.price-box p.num{
color:  hsl(0, 0%, 100%);
font-size: 25px;
font-weight: 700;
margin-bottom: 5px;
}
.price-box p{
    color: hsla(0, 0%, 100%, 0.6);
}
@media screen and (max-width: 425px) {
    body{
        text-align: center;
        
    }
    .card{
        grid-template-columns: 1fr;
    }
    .img-container{
        order: -1;
    }
    .text-container{
        padding: 8%;
    }
    .price-box{
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) and (min-width: 426) {
    body{
        font-size: 14px;
    }
    .text-container{
        padding: 12%;
    }
}